*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PoiretOne-Regular';
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(143, 137, 137);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

/* Police */

@font-face {
    font-family: "PoiretOne-Regular";
    src: url(../Police/PoiretOne-Regular.ttf);
} 

body{
    overflow-y: hidden;
}


.propos{
    color: #fff;
    font-size: 29px;
    font-weight: 500;
    position: absolute;
    right: 3%;
}

.container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.histoire{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: center;
    background-color: rgb(201, 199, 199);
    background-size: cover;
    background-position: center;
    
}

.texteHistoire{
    font-size: 30px;
    font-weight: 500;
}

.texte{
  height: 38%;
  width: 38%;
  margin-left: 4vh;
  margin-bottom: 19vh;
}

.titre{
    text-align: center;
}

.description{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}




.caracteristiques{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: center;
  background-color: rgb(201, 199, 199);
  background-size: cover;
  background-position: center;
}


.slider1{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15vh;
  }
  
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  .navigation-mannual{
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .mannual-btn{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .mannual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .mannual-btn:hover{
    background-color: #ccc;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  .navigation-auto{
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~.navigation-auto .auto-btn-1{
    background: #ccc;
  }
  
  #radio2:checked ~.navigation-auto .auto-btn-2{
    background: #ccc;
  }
  
  
  #radio3:checked ~.navigation-auto .auto-btn-3{
    background: #ccc;
  }
  
  #radio4:checked ~.navigation-auto .auto-btn-4{
    background: #ccc;
  }

  .cadre {
    display: flex;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 2rem;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    margin-right: 90px;
  }

  .img{
    border-radius: 0.8rem;
    width: 800px;
    height: 500px;
  }

  .description2{
    font-size: 30px;
    font-weight: 500;
}

   /* Variables */
   :root {
    --font-size:1rem;
    }
    .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
    }
    
    /* Reset */
    ul {
    list-style:none;
    }
    
    .main-content {
    padding:1rem;
    }
    
    /* Navbar */
    .logo-title {
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;
      padding-top: 8px;
      padding-right: 30px;
      color: white ;
      font-size: 32px ;
  }
    .navbar {  
    display:flex;
    align-items:center; 
    justify-content:flex-start;   
    padding:20px;
    font-size:1.1rem;
    background:var(--navbar-bg-color);
    color:var(--navbar-color);
    width: 100%;
    position: fixed;
    z-index: 99;
    }
    .navbar__links { 
    display:flex;  
    }
    .navbar__link { 
    padding:0 20px;
    margin-top: 1%;
    }
    .navbar__link > a { 
    color:var(--navbar-color);
    text-decoration:none;
    }
    .burger {
    display:none;
    }
    .Btn{
    font-size: 1.38rem;
    }
    
    /*  Small device */
    @media screen and (max-width:767.98px) {
    .navbar__links { 
      overflow:hidden;
      display:flex;
      flex-direction:column;
      width:0;
      height:calc(100vh - 65px);  
      position:absolute;
      top:65px;
      right:0;     
      background:var(--navbar-bg-color);     
      transform: translateX(110%);
      transition: all .5s ease-in-out;
    }
    .show-nav .navbar__links { 
      
      width:100vw;    
      transform: translateX(0);
    } 
    .navbar__link {    
      transform: translateX(101%);
      transition: all .5s ease-in-out;
    }
    
    .show-nav .navbar__link  {        
      transform: translateX(0);    
    }   
    .navbar__link > a {
      display:block;
      padding:1rem;
      font-size:1.6rem;
      color:var(--navbar-color);  
      transition: all .4s ease-in-out;
    }
    .navbar__link > a:hover {
      padding-left:2rem;
      letter-spacing:5px;
    }
    
    /* Toggle menu */
    .burger {
      display:block;
      position:relative;
      padding:0;
      width:45px;
      height:45px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar {
      display:block;    
      width:45px;
      height:4px;  
      border-radius:3px;
      background:var(--navbar-color); 
      transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position:absolute; 
      left:0;  
      background:var(--navbar-color); 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .bar::before {
      transform:translateY(-12px)
    }
    .bar::after {
      transform:translateY(12px)
    }
    .show-nav .bar {
      width:0;
      background:transparent;    
    }
    .show-nav .bar::before {
      transform:rotate(45deg);
    }
    .show-nav .bar::after {
      transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
      transition: all 1s ease-out;
    } 
    .show-nav .second {      
      transition: all 1.1s ease-out;
    } 
    .show-nav .third {      
      transition: all 1.2s ease-out;
    } 
    .show-nav .four {      
      transition: all 1.3s ease-out;
    } 
    .show-nav .fifth {      
      transition: all 1.4s ease-out;
    }
    }
    
    /*  Medium device - Bonus */
    @media screen and (min-width:768px) {
    .navbar__link > a::after {
      display:block;
      content:"";
      width:0;
      height:1px;
      background:var(--navbar-color);
      transition:width .4s;
    }
    .navbar__link:hover > a::after {
      width:100%;
    }
    }
    
    /* bonus */
    .main-content, #section2 {
    height:100vh;
    }

    .aCountry{
      text-decoration: none;
    }